.header {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
}

.mainDivContainer {
    display: flex;
    overflow-y: auto;
}

.movieListDiv {
    width: 100%;
    height: 320px;
    position: relative;
    overflow-x: scroll;
    padding: 10px;
}