.people-item {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    height: 80px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.people-item:hover {
    background-color: #f0f0f0;
}

.people-item-details {
    display: flex;
    flex-direction: column;
}

.people-item-img {
    width: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 16px;
}

.people-item-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding-bottom: 4px;
    padding-top: 8px;
}

.people-item-ActingText {
    font-size: 14px;
    font-weight: bold;
    color: #090909;
}

.people-item-ActingType {
    font-size: 14px;
    color: #3d3c3c;
}
