.search-item {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    height: 150px;
    border: 1px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.search-item:hover {
    background-color: #f0f0f0;
}

.search-item-img {
    width: 100px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-right: 16px;
}

.search-item-details {
    display: flex;
    flex-direction: column;
}

.search-item-title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding-bottom: 4px;
    padding-top: 8px;
}
.search-item-overview {
    font-size: 12px;
    color: #090909;
    padding-top: 12px;
}

.search-item-release-date {
    font-size: 12px;
    color: #ff9800;
}